/* src/app.css */
body {
color: white;
font-family: ubuntu;
  background-color: white;
  text-align: center;

  background-image: url("fundo.jpg");
            background-size: cover;      /* Faz a imagem cobrir toda a tela */
            background-repeat: no-repeat; /* Não repete a imagem */ 
            background-position: center; 

          

           
 
}



button {
  background-color: orange;
  color: black;
  border: 2px solid black;
  border-radius: 25px;
  padding: 15px 30px;
}

button:hover {
  background-color: beige;
}
h1{
text-align: left;
background-color:;
padding: 10px;
}
h1 img {
   /*padding: 0px; */
  float: right;
  height: 75px;
}

.container {
  display: flex;
  gap: 40px; /* espaço entre as tabelas */
  justify-content: center; /* centraliza horizontalmente */
  align-items: flex-start; /* alinha pelo topo */
}

table {
  border-collapse: collapse;
}
